@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

#index-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;

    #card-container{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: aqua;
            padding: 30px;
            border-radius: 40px;
            min-height: 70vh;
            width: calc(100% / 3);

            #pulsante-modifica{
                padding-inline: 30px;
                padding-block: 10px;
                background-color: yellow;
                width: 120px;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            button{
                padding-inline: 30px;
                padding-block: 10px;
                background-color: red;
                border: none;
                font-weight: 700;
                border-radius: 10px;
            }
        }
    }

    #pulsante-creazione{
        font-size: 50px;
        text-decoration: none;
        background-color: greenyellow;
        padding: 20px;
        margin-top: 30px;
        border-radius: 20px;
    }
}

#create-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    height: 100vh;

    div{
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    button{
        background-color: aqua;
        padding-inline: 30px;
        padding-block: 10px;
        border: none;
        border-radius: 10px;
    }
}

#show-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: burlywood;

    div{
        background-color: aqua;
        padding: 30px;
        border-radius: 40px;
        margin-top: 50px;
    }

    a{
        padding-inline: 30px;
        padding-block: 10px;
        background-color: greenyellow;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 20px;
    }
}

#welcome-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkcyan;

    a{
        text-decoration: none;
        color: black;
        padding: 20px;
        background-color: aqua;
        border-radius: 20px;
        margin-top: 10px;
    }
}